$ ls
Pipfile		Procfile	web.py

$ heroku create --buildpack heroku/python

$ git push heroku master
…
-----> Python app detected
-----> Installing python-3.6.2
-----> Installing pip
-----> Installing requirements with latest pipenv…
       ...
       Installing dependencies from Pipfile…
-----> Discovering process types
       Procfile declares types -> (none)
